{{#each this}}
<div class="post">

  <h2>{{title}}</h2>

  <p>{{content}}</p>

  <button class="editPostButton" data-id="{{id}}" data-action="update">Редагувати</button>

  <button class="deletePostButton" data-id="{{id}}" data-action="delete">Видалити</button>

  <div class="commentsContainer" data-id="{{id}}">

    <h3>Коментарі:</h3>

    <ul>
    {{#each comments}}
      <li>{{body}}</li>
    {{/each}}
    </ul>

    <form class="createCommentForm">

      <input type="text" class="commentInput" placeholder="Новий коментар" required />

      <button type="submit">Додати коментар</button>

    </form>

  </div>

</div>
{{/each}}